version: 2
jobs:
  build:
    parallelism: 6
    working_directory: ~/wp-calypso
    docker:
      - image: circleci/node:8.11-browsers
        environment:
          CIRCLE_ARTIFACTS: /tmp/artifacts
          CIRCLE_TEST_REPORTS: /tmp/test_results

    steps:
      - restore_cache:
          key: v1-20180524-git

      - checkout

      - save_cache:
          key: v1-20180524-git
          paths:
            - ".git"

      - run:
          name: Create Directories for Results and Artifacts
          command: |
            mkdir -p $CIRCLE_ARTIFACTS
            mkdir -p $CIRCLE_TEST_REPORTS

      - restore_cache:
          key: v1-npmdeps-{{ checksum "npm-shrinkwrap.json" }}

      - run: npm install

      - save_cache:
          key: v1-npmdeps-{{ checksum "npm-shrinkwrap.json" }}
          paths:
            - "node_modules"

      - run:
          name: Update the lockfile
          command: CI_PULL_REQUEST='' npx greenkeeper-lockfile-update

      - run: NODE_ENV=test npm run build-server

      - run:
          command: |
            npm run translate; mkdir -p $CIRCLE_ARTIFACTS/translate
            mv calypso-strings.pot $CIRCLE_ARTIFACTS/translate

      - run:
          command: |
            git clone https://github.com/Automattic/gp-localci-client.git
            bash gp-localci-client/generate-new-strings-pot.sh $CIRCLE_BRANCH $CIRCLE_SHA1 $CIRCLE_ARTIFACTS/translate
            rm -rf gp-localci-client

      - run:
          name: Run Integration Tests
          command: |
            bin/run-integration $(circleci tests glob "bin/**/integration/*.js" "client/**/integration/*.js" "server/**/integration/*.js" | circleci tests split --split-by=timings)

      - run:
          name: Lint
          command: npm run lint:config-defaults

      - run:
          name: Lint Client and Server
          command: |
            ./node_modules/.bin/eslint-eslines $(circleci tests glob "client/**/*.js" "client/**/*.jsx" "server/**/*.js" "server/**/*.jsx" | circleci tests split)

      - run:
          name: Run Client Tests
          command: |
              npm run test-client:ci $(circleci tests glob "client/**/test/*.js" "client/**/test/*.jsx" | circleci tests split --split-by=timings)

      - run:
          name: Run Server Tests
          command: |
              npm run test-server:ci $(circleci tests glob "server/**/test/*.js" "server/**/test/*.jsx" | circleci tests split --split-by=timings)

      - run:
          name: Upload lockfile changes
          command: npx greenkeeper-lockfile-update

      - run:
          name: Gather Test Results
          command: |
            find . -type f -regex  ".*/test-results.*\.xml" -exec cp {} $CIRCLE_TEST_REPORTS/ \;
          when: always

      - run:
          name: Add code coverage status check to PR
          command: |
             set +o pipefail
             cat coverage/clover.xml | grep '<metrics' | head -n 1 > $CIRCLE_ARTIFACTS/clover-short.xml
             echo '</metrics>' >> $CIRCLE_ARTIFACTS/clover-short.xml
             curl -XPOST "https://code-coverage.herokuapp.com/report?branch=$CIRCLE_BRANCH&commit_sha1=$CIRCLE_SHA1&pr_number=$(echo $CIRCLE_PULL_REQUEST | awk -F '/' '{print $NF}')&repo=$CIRCLE_PROJECT_USERNAME/$CIRCLE_PROJECT_REPONAME&pr=$CIRCLE_PULL_REQUEST" -F report=@$CIRCLE_ARTIFACTS/clover-short.xml

      - store_test_results:
          path: /tmp/test_results
      - store_artifacts:
          path: /tmp/test_results
      - store_artifacts:
          path: /tmp/artifacts

# We need to work around this bit because
# the notification system in 2.0 is a bit flakey
# and is not yet working as expected.
notify:
  webhooks:
    - url: https://translate.wordpress.com/api/localci/-relay-new-strings-to-gh
